{% extends 'base.html' %}

{% block title %}Logged Out - {{ block.super }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body text-center">
                <h3>You have been logged out</h3>
                <p>Thank you for using VAPA!</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login Again</a>
                <a href="{% url 'home' %}" class="btn btn-outline-secondary">Home</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}